@model ParallelQueueModel
<script src="~/Scripts/ParallelQueue/main.js"></script>
<h2>@Html.DisplayNameFor(model => model)</h2>
@using (Ajax.BeginForm("ParallelQueue", new AjaxOptions
{
	OnBegin = "ParallelQueueBegin",
	OnFailure = "ParallelQueueFailure",
	OnSuccess = "ParallelQueueSuccess"
}))
{
	<div id="parallel-queue-result-form" class="row">
		<div class="col-sm-5 col-md-4 col-lg-2 col-xl-5">
			<div class="form-group">
				@Html.DisplayNameFor(model => model.PushCount)
				@Html.TextBoxFor(model => model.PushCount, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.PushCount)
			</div>
		</div>
		<div class="col-sm-5 col-md-4 col-lg-2 col-xl-5">
			<div class="form-group">
				@Html.DisplayNameFor(model => model.PopCount)
				@Html.TextBoxFor(model => model.PopCount, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.PopCount)
			</div>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-1 col-xl-2">
			<button type="submit" class="btn btn-success">Go</button>
		</div>
	</div>
}
<div>
	<div class="row">
		<div class="col-sm-12 col-md-10 col-lg-5 col-xl-12">
			<div id="parallel-queue-result-body">
			</div>
		</div>
	</div>
</div>